<?xml version="1.0" encoding="UTF-8"?>
<config addfieldpath="/administrator/components/com_content/models/fields">

	<fieldset name="MainSettings" label="COM_BOOKPRO_MAIN_SETTINGS">
		<field name="mode" type="radio" label="Компания" class="btn-group">
			<option value="0">Оператор</option>
			<option value="1">Портал</option>
		</field>
		<field type="radio" name="orderno_type" default="1"
			label="Выбор номеров билетов" class="btn-group">
			<option value="0">Случайный</option>
			<option value="1">Последовательный</option>
		</field>

		<field name="main_currency" type="text" label="COM_BOOKPRO_CURRENCY_NAME"
			default="USD" />
		<field name="currency_symbol" type="text" label="COM_BOOKPRO_CURRENCY_SYMBOL"
			default="$" />
		<field type="list" name="currency_display" label="COM_BOOKPRO_CURRENCY_DISPLAY"
			default="0">
			<option value="0">00Symb</option>
			<option value="1">00 Symb</option>
			<option value="2">Symb00</option>
			<option value="3">Symb 00</option>
		</field>
		<field name="tax" type="text" label="COM_BOOKPRO_SERVICE_FEE"	default="10" />
		<field name="discount_site" type="text" label="Скидка покупателям на сайте"	default="15" />
		<field name="currency_seperator" type="text" label="COM_BOOKPRO_CURRENCY_THOUSAND_SEPERATOR"/>
		<field name="timespace" type="text" default="H:i A" label="COM_BOOKPRO_TIME_FORMAT" />
		<field name="cutofftime" type="text" default="60"
			label="Время блокирования бронирования" />
			
		<!-- 
		<field name="seat_busy" type="list" default="1"
			label="Seat busy with paid">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		 -->
		<field name="driver_hand" type="list" default="1"
			label="Расположение руля">
			<option value="0">Леворульный</option>
			<option value="1">Праворульный</option>
		</field>
		
		
			
		
		<field type="text" name="date_long" default="D, d M Y" label="Фомат даты и времени полный" />
		<field type="text" name="date_normal" default="d-m-Y H:i:s" label="Формат даты и времени обычный"/>
		<field type="text" name="date_day_short" default="d-m-Y" label="Формат даты"/>

		<field name="privacy_content_id" type="modal_article" label="Соглашение о приватности" />
		<field name="term_content_id" type="modal_article" label="Условия использования" />

	
	</fieldset>
	<fieldset name="AccountSetting" label="Настройки аккаунта">

		<field name="allow_reservations" type="list" default="1"
			label="Ограничение на бронирование">
			<option value="0">Зарегистрированные пользователи</option>
			<option value="1">Гости</option>
		</field>
		<field name="customers_usergroup" type="usergroup" label="Группа пользователей соответствующая покупателям"
			description="HLP_CUSTOMERS USER GROUP" />
		<field name="agent_usergroup" type="usergroup" label="Группа пользователей соответствующая агентам"
			description="Agent user group" />
		<!-- <field name="supplier_usergroup" type="usergroup" label="Supplier 
			user group" description="HLP_SUPPLIER USER GROUP" /> <field name="agent_usergroup" 
			type="usergroup" label="Agent user group" description="Agent user group" 
			/> <field type="radio" name="auto_login" label="Auto login after register" 
			class="btn-group"> <option value="0">JNo</option> <option value="1">JYes</option> 
			</field> -->
	</fieldset>


	<fieldset name="RegistrationReservationFields" label="Поля регистрации">
		<field type="spacer" default="Reservation setting info" />
		<field type="list" name="rs_firstname" default="1" label="Имя">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
<field type="list" name="rs_midlename" default="1" label="Отчество">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_lastname" default="1" label="Фамилия">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_address" default="1" label="Адрес">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_states" default="1" label="Регион"
			description="HLP_NOTE">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_city" default="1" label="Город"
			description="HLP_CITY">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_country" default="1" label="Страна"
			description="HLP_COUNTRY">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_zip" default="1" label="Индекс"
			description="HLP_ZIP">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_email" default="1" label="Email"
			description="HLP_EMAIL">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_telephone" default="1" label="Телефон"
			description="HLP_TELEPHONE">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>

		<field type="list" name="rs_mobile" default="1" label="Мобильный телефон"
			description="HLP_MOBILE">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="list" name="rs_fax" default="1" label="Факс"
			description="HLP_FAX">
			<option value="0">Скрыть</option>
			<option value="1">JYES</option>
		</field>
		<field type="radio" name="rs_gender" default="1" label="Пол"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>

	<fieldset name="PassengerFields" label="Поля пассажира">
		
		<field type="radio" name="ps_gender" default="1" label="Пол"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		<field type="radio" name="ps_firstname" default="1" label="Имя"
			class="btn-group readonly" readonly="true">
			<option value="1">JYes</option>
		</field>
<field type="radio" name="ps_midlename" default="1" label="Отчество"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>		

<field type="radio" name="ps_lastname" default="1" label="Фамилия"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>

		<field type="radio" name="ps_group" default="1" label="Группа"
			class="btn-group">
			<option value="1">JYes</option>
		</field>
		<field type="radio" name="ps_passport" default="0" label="Паспорт"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		<field type="radio" name="ps_ppvalid" default="0" label="Срок действия паспорта"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		<field type="radio" name="ps_country" default="0" label="Страна"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		<field type="radio" name="ps_birthday" default="1" label="Дата рождения"
			class="btn-group">
			<option value="0">Скрыть</option>
			<option value="1">JYes</option>
		</field>
		
		<field type="radio" name="ps_flightno" default="0" label="Номер"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		
		<field type="radio" name="ps_notes" default="0" label="Информация"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		
		<field type="radio" name="ps_email" default="0" label="Email"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		
		<field type="radio" name="ps_birthday" default="1" label="Дата рождения"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		
		<!-- 
		<field type="radio" name="ps_bag" default="1" label="Багаж"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		
		 -->

	</fieldset>
	<!-- <fieldset name="GallerySetting" label="Gallery Setting"> <field type="radio" 
		name="display_image_subject_detail" label="Show Image" description="HLP_SHOW 
		IMAGE" class="btn-group"> <option value="0">JNo</option> <option value="1">JYes</option> 
		</field> <field name="display_thumbs_subject_detail_width" type="text" label="Image 
		Width" description="HLP_IMAGE WIDTH" size="10" /> <field name="display_thumbs_subject_detail_height" 
		type="text" label="Image Height" description="HLP_IMAGE HEIGHT" size="10" 
		/> <field type="radio" name="display_gallery_subject_detail" label="Show 
		Photogallery" description="HLP_SHOW PHOTOGALLERY" class="btn-group"> <option 
		value="0">JNo</option> <option value="1">JYes</option> </field> <field name="display_gallery_thumbs_subject_detail_width" 
		type="text" label="Gallery Thumb width" description="HLP_GALLERY THUMB WIDTH" 
		size="10" /> <field name="display_gallery_thumbs_subject_detail_height" type="text" 
		label="Gallery Thumb height" description="HLP_GALLERY THUMB HEIGHT" size="10" 
		/> <field name="display_gallery_preview_subject_detail_width" type="text" 
		label="Gallery Preview width" description="HLP_GALLERY PREVIEW WIDTH" size="10" 
		/> <field name="display_gallery_preview_subject_detail_height" type="text" 
		label="Gallery Preview height" description="HLP_GALLERY PREVIEW HEIGHT" size="10" 
		/> </fieldset> -->

	<fieldset name="Invoice" label="COM_BOOKPRO_COMPANY">

		<field name="company_name" type="text" label="COM_BOOKPRO_COMPANY_NAME" />
		<field name="company_address" type="text" label="COM_BOOKPRO_COMPANY_ADDRESS" />
		<field name="company_logo" type="media" label="COM_BOOKPRO_COMPANY_LOGO" />

		<field name="invoice_header" type="editor" label="COM_BOOKPRO_INVOICE_HEADER"
			description="COM_BOOKPRO_INVOICE_HEADER" />
		<field name="invoice_footer" type="editor" label="COM_BOOKPRO_INVOICE_FOOTER"
			description="COM_BOOKPRO_INVOICE_FOOTER" filter="safehtml" />
	</fieldset>
	<fieldset name="Registration" label="Регистрация">
		<field name="bookpro_key" type="text" label="Ключ"
			description="" size="50" />
	</fieldset>


	

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_bookpro" filter="rules"
			validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>